<!DOCTYPE html>
<html>

<head>
  <title>CatBot / MHWorld - Monster Hunter World: Iceborne Database</title>
  <link rel="stylesheet" type="text/css" href="../mint.css">
  <link rel="stylesheet" type="text/css" href="../all.min.css">

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="UTF-8">
  <meta property="og:type" content="website">
  <link rel="icon" href="../icons/catbot.png" />
  <meta name="theme-color" content="#8fde5d" />
  <meta property="og:url" content="https://mhdb.catbot.xyz/" />
  <meta property="og:title" content="CatBot / MHWorld - Monster Hunter World: Iceborne Database" />
  <meta property="og:image" content="https://mhdb.catbot.xyz/icons/catbot.png" />
  <meta property="og:description"
    content="CatBot is a Discord bot dedicated to providing information on Monster Hunter World: Iceborne, CatBot offers information on monsters, weapons, armors, and more!" />
  <meta name="description"
    content="CatBot is a Discord bot dedicated to providing information on Monster Hunter World: Iceborne, CatBot offers information on monsters, weapons, armors, and more!">
  <meta name="keywords"
    content="catbot,discord bot,catbot bot,catbotxyz,discord,catbot mhw,mhw,mhworld,monster hunter,iceborne,monster hunter world,monster hunter world iceborne,database">
  <link rel="shortcut icon" href="/favicon.ico" />
</head>

<body>
  <div class="navigation-bar__light" id="navigation-bar__light">
    <h5><img src="../icons/catbot.png" /><a class="navigation-bar__light--link" href="/">CatBot</a></h5>
    <nav>
      <a class="navigation-bar__light--link" href="https://catbot.xyz">Bot</a>
      <a class="navigation-bar__light--link" href="https://discord.gg/srNyk8G">Support</a>
      <div class="toggle-switch__container">
        <label class="toggle-switch" for="checkbox">
          <input class="toggle-switch__input" type="checkbox" id="checkbox" />
          <div class="toggle-switch__slider toggle-switch__round"></div>
        </label>
      </div>
      <form autocomplete="off" id="search-bar" class="form-control__label">
        <div class="autocomplete-container">
          <input class="form-control form-control__input-group--none form-control__input-right--margin" type="text"
            id="search-input" placeholder="Search..." title="Type in a name">
          <button class="btn btn-outline__submit form-control__input-group--none" type="submit"><i
              class="fas fa-search"></i></button>
        </div>
      </form>
      <a href="javascript:void(0);" class="icon" onclick="responsiveNavigation()">
        <i class="link-none__no-padding fa fa-bars"></i>
      </a>
    </nav>
  </div>
  <div class="page-header__container--paddedsmall">
    <div class="page-header__wrapper--paddedsmall">
      <h1><span class="color-catbot">CatBot</span></h1>
      <h1>Monster Hunter: World Database</h1>
      <a class="link-none link-none__blue" href="https://discord.gg/srNyk8G">Discord</a>
    </div>
  </div>
  <div class="page-container__center">
    <div>
      <ul class="list-grouped list-grouped__standard--size">
        <h2 class="header-bottom">Database</h2>
        <li>
          <div>
            <h6><a class="link-none__no-padding link-none__block link-none__blue" href="/monsters">Monster Database</a>
            </h6>
            <div class="color-dark__muted">Monster Information</div>
          </div>
          <span class="color-dark__muted"><a class="btn btn-outline__small" href="/monsters">Visit</a></span>
        </li>
        <li>
          <div>
            <h6><a class="link-none__no-padding link-none__block link-none__blue" href="/weapons">Weapon Database</a>
            </h6>
            <div class="color-dark__muted">Weapon Information</div>
          </div>
          <span class="color-dark__muted"><a class="btn btn-outline__small" href="/weapons">Visit</a></span>
        </li>
        <li>
          <div>
            <h6><a class="link-none__no-padding link-none__block link-none__blue" href="/armors">Armor Database</a></h6>
            <div class="color-dark__muted">Armor Information</div>
          </div>
          <span class="color-dark__muted"><a class="btn btn-outline__small" href="/armors">Visit</a></span>
        </li>
        <li>
          <div>
            <h6><a class="link-none__no-padding link-none__block link-none__blue" href="/skills">Skill Database</a></h6>
            <div class="color-dark__muted">Skill Information</div>
          </div>
          <span class="color-dark__muted"><a class="btn btn-outline__small" href="/skills">Visit</a></span>
        </li>
        <li>
          <div>
            <h6><a class="link-none__no-padding link-none__block link-none__blue" href="/items">Item Database</a></h6>
            <div class="color-dark__muted">Item Information</div>
          </div>
          <span class="color-dark__muted"><a class="btn btn-outline__small" href="/items">Visit</a></span>
        </li>
        <li>
          <div>
            <h6><a class="link-none__no-padding link-none__block link-none__blue" href="/decorations">Decoration
                Database</a></h6>
            <div class="color-dark__muted">Decoration Information</div>
          </div>
          <span class="color-dark__muted"><a class="btn btn-outline__small" href="/decorations">Visit</a></span>
        </li>
        <li>
          <div>
            <h6><a class="link-none__no-padding link-none__block link-none__blue" href="/questids">Quest IDs</a></h6>
            <div class="color-dark__muted">Quest ID Information</div>
          </div>
          <span class="color-dark__muted"><a class="btn btn-outline__small" href="/questids">Visit</a></span>
        </li>
      </ul>
    </div>
  </div>
  <div class="page-footer">
    <p>Copyright © <a class="link-underline" href="https://ricochhet.github.io/">Ricochet</a>, All Rights Reserved.
      ❤️</p>
  </div>
</body>
<script src="../mint.js"></script>
<script>
  let decorationArray = `<%- decorationArray %>`.split(',');
  let monsterArray = `<%- monsterArray %>`.split(',');
  let weaponArray = `<%- weaponArray %>`.split(',');
  let armorArray = `<%- armorArray %>`.split(',');
  let skillArray = `<%- skillArray %>`.split(',');
  let itemArray = `<%- itemArray %>`.split(',');
  let combinedArray = [
    ...decorationArray,
    ...monsterArray,
    ...weaponArray,
    ...armorArray,
    ...skillArray,
    ...itemArray
  ];

  _toggleTheme();
  _searchCompletion(combinedArray, function (input, finalInput) {
    if (decorationArray.includes(input)) { window.location.href = `/decorations/${finalInput.split('/').join('+')}`; }
    if (monsterArray.includes(input)) { window.location.href = `/monsters/${finalInput}`; }
    if (weaponArray.includes(input)) { window.location.href = `/weapons/${finalInput}`; }
    if (armorArray.includes(input)) { window.location.href = `/armors/${finalInput}`; }
    if (skillArray.includes(input)) { window.location.href = `/skills/${finalInput}`; }
    if (itemArray.includes(input)) { window.location.href = `/items/${finalInput}`; }
  });
</script>

</html>