<!DOCTYPE html>
<html>

<head>
  <title>CatBot / MHWorld - Monster Hunter World: Iceborne Database</title>
  <link rel="stylesheet" type="text/css" href="../mint.css">
  <link rel="stylesheet" type="text/css" href="../all.min.css">

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="UTF-8">
  <meta property="og:type" content="website">
  <link rel="icon" href="../icons/catbot.png" />
  <meta name="theme-color" content="#8fde5d" />
  <meta property="og:url" content="https://mhdb.catbot.xyz/" />
  <meta property="og:title" content="CatBot / MHWorld - Monster Hunter World: Iceborne Database" />
  <meta property="og:image" content="https://mhdb.catbot.xyz/icons/catbot.png" />
  <meta property="og:description"
    content="CatBot is a Discord bot dedicated to providing information on Monster Hunter World: Iceborne, CatBot offers information on monsters, weapons, armors, and more!" />
  <meta name="description"
    content="CatBot is a Discord bot dedicated to providing information on Monster Hunter World: Iceborne, CatBot offers information on monsters, weapons, armors, and more!">
  <meta name="keywords"
    content="catbot,discord bot,catbot bot,catbotxyz,discord,catbot mhw,mhw,mhworld,monster hunter,iceborne,monster hunter world,monster hunter world iceborne,database">
  <link rel="shortcut icon" href="/favicon.ico" />
</head>

<body>
  <div class="navigation-bar__light" id="navigation-bar__light">
    <h5><img src="../icons/catbot.png" alt="CatBot" /><a class="navigation-bar__light--link" href="/">CatBot</a></h5>
    <nav>
      <a class="navigation-bar__light--link" href="https://catbot.xyz">Bot</a>
      <a class="navigation-bar__light--link" href="https://discord.gg/srNyk8G">Support</a>
      <div class="toggle-switch__container">
        <label class="toggle-switch" for="checkbox">
          <input class="toggle-switch__input" type="checkbox" id="checkbox" />
          <div class="toggle-switch__slider toggle-switch__round"></div>
        </label>
      </div>
      <form autocomplete="off" id="search-bar" class="form-input__label">
        <div class="dropdown-container">
          <input class="form-input form-input__right-margin" type="text"
            id="search-input" placeholder="Search..." title="Type in a name">
          <button class="btn btn-outline__submit form-control__round" type="submit"><i
              class="fas fa-search"></i></button>
        </div>
      </form>
      <a href="javascript:void(0);" class="icon" onclick="responsiveNavigation()">
        <i class="link-none__no-padding fa fa-bars"></i>
      </a>
    </nav>
  </div>

  <div class="page-container__center">
    <ul class="breadcrumb">
      <li><a href="/">Monster Hunter</a></li>
      <li><a href="/armors">Armors</a></li>
      <li><%- ARMOR_NAME %></li>
    </ul>

    <div class="page-container__center">
      <div class="table-responsive">
        <div class="table-header"> <img class="table-responsive__img" src="<%- ICON_MAP.get('head') %>"
            alt="Armor Pieces" alt="Armor" /> <%- ARMOR_NAME %> Pieces <span
            class="color-dark__muted text-style__small"></span>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% for (let k of ARMOR_PIECES) {%>
            <tr>
              <td><%- k.name %></td>
              <td><%- k.type %></td>
            </tr>
            <% } %>
          </tbody>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="page-container__center">
      <div class="table-responsive">
        <div class="table-header"> <img class="table-responsive__img" src="<%- ICON_MAP.get('skills') %>"
            alt="Armor Skills" /> <%- ARMOR_NAME %> Skills <span class="color-dark__muted text-style__small"></span>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Piece</th>
              <th>Name</th>
              <th>Rank</th>
            </tr>
          </thead>
          <tbody>
            <% for (let k of ARMOR_SKILLS) {%>
            <tr>
              <td><%- k.piece %></td>
              <td><%- k.name %></td>
              <td><%- k.rank %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="page-container__center">
      <div class="table-responsive">
        <div class="table-header"> <img class="table-responsive__img" src="<%- ICON_MAP.get('defense') %>"
            alt="Armor Defense" /> <%- ARMOR_NAME %> Defense <span class="color-dark__muted text-style__small"></span>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Base Defense</th>
              <th>Max Defense</th>
              <th>Augmented Defense</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%- ARMOR_DEFENSES.base %></td>
              <td><%- ARMOR_DEFENSES.max %></td>
              <td><%- ARMOR_DEFENSES.augmented %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="page-container__center">
      <div class="table-responsive">
        <div class="table-header"> <img class="table-responsive__img" src="<%- ICON_MAP.get('element') %>"
            alt="Armor Resistances" /> <%- ARMOR_NAME %> Resistances <span
            class="color-dark__muted text-style__small"></span>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Fire</th>
              <th>Water</th>
              <th>Thunder</th>
              <th>Ice</th>
              <th>Dragon</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%- ARMOR_RESISTANCES.fire %></td>
              <td><%- ARMOR_RESISTANCES.water %></td>
              <td><%- ARMOR_RESISTANCES.thunder %></td>
              <td><%- ARMOR_RESISTANCES.ice %></td>
              <td><%- ARMOR_RESISTANCES.dragon %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="table-responsive">
      <div class="table-header"> <img class="table-responsive__img" src="<%- ICON_MAP.get('setBonus') %>"
          alt="Armor Set Bonus" /> <%- ARMOR_NAME %> Set Bonus <span class="color-dark__muted text-style__small"></span>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Pieces</th>
          </tr>
        </thead>
        <tbody>
          <% for (let k of ARMOR_SETBONUS) {%>
          <tr>
            <td><%- k.name %></td>
            <td><%- k.description %></td>
            <td><%- k.pieces %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="page-container__center">
    <div class="table-responsive">
      <div class="table-header"> <img class="table-responsive__img" src="<%- ICON_MAP.get('slots') %>"
          alt="Armor Deco Slots" /> <%- ARMOR_NAME %> Deco Slots <span
          class="color-dark__muted text-style__small"></span>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Rank</th>
          </tr>
        </thead>
        <tbody>
          <% for (let k of ARMOR_SLOTS) {%>
          <tr>
            <td><%- k.name %></td>
            <td><%- k.rank %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="page-container__center">
    <div class="table-responsive">
      <div class="table-header"> <img class="table-responsive__img" src="<%- ICON_MAP.get('rank') %>"
          alt="Armor Rank" /> <%- ARMOR_NAME %> Rank <span class="color-dark__muted text-style__small"></span>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Rank</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%- ARMOR_RANK %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="page-footer">
    <p>Copyright © <a class="link-underline" href="https://ricochhet.github.io/">Ricochet</a>, All Rights Reserved.
      ❤️</p>
  </div>
</body>
<script src="../mint.js"></script>
<script>
  _toggleTheme();
  _searchCompletion(`<%- MHW_OBJECTS %>`.split(','), function (input, finalInput) {
    if (`<%- MHW_DECO_ARRAY %>`.split(',').includes(input)) { window.location.href = `/decorations/${finalInput.split('/').join('+')}`; }
    if (`<%- MHW_MONSTER_ARRAY %>`.split(',').includes(input)) { window.location.href = `/monsters/${finalInput}`; }
    if (`<%- MHW_WEAPON_ARRAY %>`.split(',').includes(input)) { window.location.href = `/weapons/${finalInput}`; }
    if (`<%- MHW_ARMOR_ARRAY %>`.split(',').includes(input)) { window.location.href = `/armors/${finalInput}`; }
    if (`<%- MHW_SKILL_ARRAY %>`.split(',').includes(input)) { window.location.href = `/skills/${finalInput}`; }
    if (`<%- MHW_ITEM_ARRAY %>`.split(',').includes(input)) { window.location.href = `/items/${finalInput}`; }
  });
</script>

</html>