<!DOCTYPE html>
<html>

<head>
  <title>CatBot / MHWorld - Monster Hunter World: Iceborne Database</title>
  <link rel="stylesheet" type="text/css" href="../mint.css">
  <link rel="stylesheet" type="text/css" href="../all.min.css">

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="UTF-8">
  <meta property="og:type" content="website">
  <link rel="icon" href="../icons/catbot.png" />
  <meta name="theme-color" content="#8fde5d" />
  <meta property="og:url" content="https://mhdb.catbot.xyz/" />
  <meta property="og:title" content="CatBot / MHWorld - Monster Hunter World: Iceborne Database" />
  <meta property="og:image" content="https://mhdb.catbot.xyz/css/icons/catbot.png" />
  <meta property="og:description"
    content="CatBot is a Discord bot dedicated to providing information on Monster Hunter World: Iceborne, CatBot offers information on monsters, weapons, armors, and more!" />
  <meta name="description"
    content="CatBot is a Discord bot dedicated to providing information on Monster Hunter World: Iceborne, CatBot offers information on monsters, weapons, armors, and more!">
  <meta name="keywords"
    content="catbot,discord bot,catbot bot,catbotxyz,discord,catbot mhw,mhw,mhworld,monster hunter,iceborne,monster hunter world,monster hunter world iceborne,database">
  <link rel="shortcut icon" href="/favicon.ico" />
</head>

<body>
  <div class="navigation-bar__light" id="navigation-bar__light">
    <h5><img src="../icons/catbot.png" /><a class="navigation-bar__light--link" href="/">CatBot</a></h5>
    <nav>
      <a class="navigation-bar__light--link" href="https://catbot.xyz">Bot</a>
      <a class="navigation-bar__light--link" href="https://discord.gg/srNyk8G">Support</a>
      <div class="theme-switch__container">
        <label class="theme-switch" for="checkbox">
          <input class="theme-switch__input" type="checkbox" id="checkbox" />
          <div class="theme-switch__slider theme-switch__round"></div>
        </label>
      </div>
      <form autocomplete="off" id="search-bar" class="form-control__label">
        <div class="autocomplete-container">
          <input class="form-control form-control__input-group--none form-control__input-right--margin" type="text"
            id="search-input" placeholder="Search..." title="Type in a name">
          <button class="btn btn-outline__submit form-control__input-group--none" type="submit"><i
              class="fas fa-search"></i></button>
        </div>
      </form>
      <a href="javascript:void(0);" class="icon" onclick="responsiveNavigation()">
        <i class="link-none__no-padding fa fa-bars"></i>
      </a>
    </nav>
  </div>

  <div class="page-container__center">
    <ul class="breadcrumb">
      <li><a href="/">Monster Hunter</a></li>
      <li><a href="/items">Items</a></li>
      <li><%- ITEM_NAME %></li>
    </ul>

    <div class="table-responsive">
      <div class="table-header"> <%- ITEM_NAME %>
        <span class="color-dark__muted text-style__small"></span>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <td width="15%">Description</td>
            <td><%- ITEM_DESCRIPTION %></td>
          </tr>

          <tr>
            <td width="15%">Rarity</td>
            <td><%- ITEM_RARITY %></td>
          </tr>

          <tr>
            <td width="15%">Carry Limit</td>
            <td><%- ITEM_CARRYLIMIT %></td>
          </tr>

          <tr>
            <td width="15%">Value (Sell)</td>
            <td><%- ITEM_VALUE %></td>
          </tr>

          <tr>
            <td width="15%">Item ID</td>
            <td><%- ITEM_ID.Id %></td>
          </tr>

          <tr>
            <td width="15%">Type</td>
            <td><%- ITEM_ID.Type %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="page-footer">
    <p>Copyright © <a class="link-underline" href="https://ricochhet.github.io/">Ricochet</a>, All Rights Reserved.
      ❤️</p>
  </div>
</body>
<script src="../mint.js"></script>
<script src="../functions.js"></script>
<script>
  themeToggle();
  let decorationArray = `<%- decorationArray %>`.split(',');
  let monsterArray = `<%- monsterArray %>`.split(',');
  let weaponArray = `<%- weaponArray %>`.split(',');
  let armorArray = `<%- armorArray %>`.split(',');
  let skillArray = `<%- skillArray %>`.split(',');
  let itemArray = `<%- itemArray %>`.split(',');
  autoComplete(decorationArray, monsterArray, weaponArray, armorArray, skillArray, itemArray);
</script>

</html>