<!DOCTYPE html>
<html>

<head>
  <title>CatBot Database</title>
  <link rel="stylesheet" type="text/css" href="../default.css">
  <link rel="stylesheet" type="text/css" href="../index.css">

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="UTF-8">
  <meta property="og:type" content="website">
  <link rel="icon" href="../icons/catbot.png" />
  <meta name="theme-color" content="#8fde5d" />
  <meta property="og:url" content="https://mhdb.catbot.xyz/" />
  <meta property="og:title" content="CatBot" />
  <meta property="og:image" content="https://mhdb.catbot.xyz/css/icons/catbot.png" />
  <meta property="og:description"
    content="CatBot is a Discord bot dedicated to providing information on Monster Hunter World: Iceborne, CatBot offers information on monsters, weapons, armors, and more!" />
  <meta name="description"
    content="CatBot is a Discord bot dedicated to providing information on Monster Hunter World: Iceborne, CatBot offers information on monsters, weapons, armors, and more!">
  <meta name="keywords"
    content="catbot,discord bot,catbot bot,catbotxyz,discord,catbot mhw,mhw,mhworld,monster hunter,iceborne,monster hunter world,monster hunter world iceborne">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
</head>

<body>
  <div class="navigation-bar__light">
    <h5><img src="../icons/catbot.png" /> CatBot</h5>
    <nav>
      <div class="theme-switch-wrapper">
        <label class="theme-switch" for="checkbox">
          <input type="checkbox" id="checkbox" />
          <div class="slider round"></div>
        </label>
      </div>
      <a class="link-none" href="https://catbot.xyz">Bot</a>
      <a class="link-none" href="https://mhdb.catbot.xyz">Database</a>
      <a class="link-none"
        href="https://discordapp.com/oauth2/authorize?client_id=573958899582107653&permissions=339008&scope=bot">Invite</a>
      <a class="link-none" href="https://top.gg/bot/573958899582107653/vote">Vote</a>
      <a class="link-none" href="https://discord.gg/srNyk8G">Support</a>
    </nav>
  </div>

  <div class="page-container__center">
    <div class="table-responsive">
      <div class="table-header"> <img class="table-responsive__img" src="<%- MONSTER_ICON %>" /> <%- MONSTER_NAME %>
        <span class="color-dark__muted text-style__small"></span>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <td width="15%">Ecology</td>
            <td><%- MONSTER_DESCRIPTION %></td>
          </tr>

          <tr>
            <td width="15%">Elements</td>
            <td><%- MONSTER_ELEMENTS %></td>
          </tr>

          <tr>
            <td width="15%">Ailments</td>
            <td><%- MONSTER_AILMENTS %></td>
          </tr>

          <tr>
            <td width="15%">Blights</td>
            <td><%- MONSTER_BLIGHTS %></td>
          </tr>

          <tr>
            <td width="15%">Locations</td>
            <td><%- MONSTER_LOCATIONS %></td>
          </tr>

          <tr>
            <td width="15%">Info</td>
            <td><%- MONSTER_INFO %></td>
          </tr>

          <tr>
            <td width="15%">AtkType HZV</td>
            <td>Slash: <strong><%- MONSTER_HZV_SLASH %></strong> Blunt: <strong><%- MONSTER_HZV_BLUNT %></strong> Shot:
              <strong><%- MONSTER_HZV_SHOT %></strong></td>
          </tr>

          <tr>
            <td width="15%">Elem HZV</td>
            <td>🔥 <strong><%- MONSTER_HZV_FIRE %></strong> 💧 <strong><%- MONSTER_HZV_WATER %></strong> ⚡
              <strong><%- MONSTER_HZV_THUNDER %></strong> 🧊 <strong><%- MONSTER_HZV_ICE %></strong> 🐉
              <strong><%- MONSTER_HZV_DRAGON %></strong></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="page-container__center">
    <div class="table-responsive">
      <div class="table-header"> <%- MONSTER_NAME %> Hitzone & Status Data <span
          class="color-dark__muted text-style__small"></span>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Part</th>
            <th>Kinsect</th>
            <th>Slash</th>
            <th>Blunt</th>
            <th>Ranged</th>
            <th>Fire</th>
            <th>Water</th>
            <th>Thunder</th>
            <th>Ice</th>
            <th>Dragon</th>
            <th>Stun</th>
            <th>Flinch</th>
            <th>Trip</th>
            <th>Duration</th>
            <th>Wound</th>
            <th>Sever</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          <% for (let [k, v] of Object.entries(MONSTER_HZV_DATA)) {%>
          <tr>
            <td width="20%"><%- k %></td>
            <td><%- MONSTER_HZV_DATA[k].ke %></td>
            <td><%- MONSTER_HZV_DATA[k].slash %></td>
            <td><%- MONSTER_HZV_DATA[k].blunt %></td>
            <td><%- MONSTER_HZV_DATA[k].ranged %></td>
            <td><%- MONSTER_HZV_DATA[k].fire %></td>
            <td><%- MONSTER_HZV_DATA[k].water %></td>
            <td><%- MONSTER_HZV_DATA[k].thunder %></td>
            <td><%- MONSTER_HZV_DATA[k].ice %></td>
            <td><%- MONSTER_HZV_DATA[k].dragon %></td>
            <td><%- MONSTER_HZV_DATA[k].stun %></td>
            <td><%- MONSTER_HZV_DATA[k].flinch %></td>
            <td><%- MONSTER_HZV_DATA[k].trip %></td>
            <td><%- MONSTER_HZV_DATA[k].timer %></td>
            <td><%- MONSTER_HZV_DATA[k].wound %></td>
            <td><%- MONSTER_HZV_DATA[k].sever %></td>
            <td><%- MONSTER_HZV_DATA[k].notes %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="page-footer">
    <p>Copyright © <a class="link-underline" href="https://ricochhet.github.io/">Ricochet</a>, All Rights Reserved.
      ❤️</p>
  </div>
</body>
<script src="../index.js"></script>
<script>
  themeToggle();
</script>

</html>