<!DOCTYPE html>
<html>

<head>
  <title>CatBot / MHWorld - Monster Hunter World: Iceborne Database</title>
  <link rel="stylesheet" type="text/css" href="../mint.css">
  <link rel="stylesheet" type="text/css" href="../all.min.css">

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="UTF-8">
  <meta property="og:type" content="website">
  <link rel="icon" href="../icons/catbot.png" />
  <meta name="theme-color" content="#8fde5d" />
  <meta property="og:url" content="https://mhdb.catbot.xyz/" />
  <meta property="og:title" content="CatBot / MHWorld - Monster Hunter World: Iceborne Database" />
  <meta property="og:image" content="https://mhdb.catbot.xyz/icons/catbot.png" />
  <meta property="og:description"
    content="CatBot is a Discord bot dedicated to providing information on Monster Hunter World: Iceborne, CatBot offers information on monsters, weapons, armors, and more!" />
  <meta name="description"
    content="CatBot is a Discord bot dedicated to providing information on Monster Hunter World: Iceborne, CatBot offers information on monsters, weapons, armors, and more!">
  <meta name="keywords"
    content="catbot,discord bot,catbot bot,catbotxyz,discord,catbot mhw,mhw,mhworld,monster hunter,iceborne,monster hunter world,monster hunter world iceborne,database">
  <link rel="shortcut icon" href="/favicon.ico" />
</head>

<body>
  <div class="navigation-bar__light" id="navigation-bar__light">
    <h5><img src="../icons/catbot.png" /><a class="navigation-bar__light--link" href="/">CatBot</a></h5>
    <nav>
      <a class="navigation-bar__light--link" href="https://catbot.xyz">Bot</a>
      <a class="navigation-bar__light--link" href="https://discord.gg/srNyk8G">Support</a>
      <div class="toggle-switch__container">
        <label class="toggle-switch" for="checkbox">
          <input class="toggle-switch__input" type="checkbox" id="checkbox" />
          <div class="toggle-switch__slider toggle-switch__round"></div>
        </label>
      </div>
      <form autocomplete="off" id="search-bar" class="form-control__label">
        <div class="dropdown-container">
          <input class="form-control form-control__input-group--none form-control__input-right--margin" type="text"
            id="search-input" placeholder="Search..." title="Type in a name">
          <button class="btn btn-outline__submit form-control__input-group--none" type="submit"><i
              class="fas fa-search"></i></button>
        </div>
      </form>
      <a href="javascript:void(0);" class="icon" onclick="responsiveNavigation()">
        <i class="link-none__no-padding fa fa-bars"></i>
      </a>
    </nav>
  </div>

  <div class="page-container__center">
    <ul class="breadcrumb">
      <li><a href="/">Monster Hunter</a></li>
      <li><a href="/weapons">Weapons</a></li>
      <li><%- WEAPON_NAME %></li>
    </ul>

    <div class="table-responsive">
      <div class="table-header"> <%- WEAPON_NAME %>
        <span class="color-dark__muted text-style__small"></span>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <td width="15%">Type</td>
            <td><%- WEAPON_TYPE %></td>
          </tr>

          <tr>
            <td width="15%">Rarity</td>
            <td><%- WEAPON_RARITY %></td>
          </tr>

          <tr>
            <td width="15%">Bloated Attack</td>
            <td><%- WEAPON_DISPLAYATTACK %></td>
          </tr>

          <tr>
            <td width="15%">Raw Attack</td>
            <td><%- WEAPON_RAWATTACK %></td>
          </tr>

          <tr>
            <td width="15%">Damage Type</td>
            <td><%- WEAPON_DMGTYPE %></td>
          </tr>

          <tr>
            <td width="15%">Affinity</td>
            <td><%- WEAPON_AFFINITY %></td>
          </tr>

          <tr>
            <td width="15%">Defense</td>
            <td><%- WEAPON_DEFENSE %></td>
          </tr>

          <tr>
            <td width="15%">Elderseal</td>
            <td><%- WEAPON_ELDERSEAL %></td>
          </tr>

          <tr>
            <td width="15%">Shelling</td>
            <td><%- WEAPON_SHELLING.type %> <%- WEAPON_SHELLING.level %></td>
          </tr>

          <tr>
            <td width="15%">Special Ammo</td>
            <td><%- WEAPON_SPECIALAMMO %></td>
          </tr>

          <tr>
            <td width="15%">Deviation</td>
            <td><%- WEAPON_DEVIATION %></td>
          </tr>

          <tr>
            <td width="15%">Coatings</td>
            <td><%- WEAPON_COATINGS %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="page-container__center">
    <div class="table-responsive">
      <div class="table-header"> <%- WEAPON_NAME %> Sharpness Hits <span
          class="color-dark__muted text-style__small"></span>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Type</th>
            <th>Red</th>
            <th>Orange</th>
            <th>Yellow</th>
            <th>Green</th>
            <th>Blue</th>
            <th>White</th>
            <th>Purple</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Base</td>
            <td><%- WEAPON_SHARPNESS.base.red %></td>
            <td><%- WEAPON_SHARPNESS.base.orange %></td>
            <td><%- WEAPON_SHARPNESS.base.yellow %></td>
            <td><%- WEAPON_SHARPNESS.base.green %></td>
            <td><%- WEAPON_SHARPNESS.base.blue %></td>
            <td><%- WEAPON_SHARPNESS.base.white %></td>
            <td><%- WEAPON_SHARPNESS.base.purple %></td>
          </tr>

          <tr>
            <td>Handicraft LV1</td>
            <td><%- WEAPON_SHARPNESS.h1.red %></td>
            <td><%- WEAPON_SHARPNESS.h1.orange %></td>
            <td><%- WEAPON_SHARPNESS.h1.yellow %></td>
            <td><%- WEAPON_SHARPNESS.h1.green %></td>
            <td><%- WEAPON_SHARPNESS.h1.blue %></td>
            <td><%- WEAPON_SHARPNESS.h1.white %></td>
            <td><%- WEAPON_SHARPNESS.h1.purple %></td>
          </tr>

          <tr>
            <td>Handicraft LV2</td>
            <td><%- WEAPON_SHARPNESS.h2.red %></td>
            <td><%- WEAPON_SHARPNESS.h2.orange %></td>
            <td><%- WEAPON_SHARPNESS.h2.yellow %></td>
            <td><%- WEAPON_SHARPNESS.h2.green %></td>
            <td><%- WEAPON_SHARPNESS.h2.blue %></td>
            <td><%- WEAPON_SHARPNESS.h2.white %></td>
            <td><%- WEAPON_SHARPNESS.h2.purple %></td>
          </tr>

          <tr>
            <td>Handicraft LV3</td>
            <td><%- WEAPON_SHARPNESS.h3.red %></td>
            <td><%- WEAPON_SHARPNESS.h3.orange %></td>
            <td><%- WEAPON_SHARPNESS.h3.yellow %></td>
            <td><%- WEAPON_SHARPNESS.h3.green %></td>
            <td><%- WEAPON_SHARPNESS.h3.blue %></td>
            <td><%- WEAPON_SHARPNESS.h3.white %></td>
            <td><%- WEAPON_SHARPNESS.h3.purple %></td>
          </tr>

          <tr>
            <td>Handicraft LV4</td>
            <td><%- WEAPON_SHARPNESS.h4.red %></td>
            <td><%- WEAPON_SHARPNESS.h4.orange %></td>
            <td><%- WEAPON_SHARPNESS.h4.yellow %></td>
            <td><%- WEAPON_SHARPNESS.h4.green %></td>
            <td><%- WEAPON_SHARPNESS.h4.blue %></td>
            <td><%- WEAPON_SHARPNESS.h4.white %></td>
            <td><%- WEAPON_SHARPNESS.h4.purple %></td>
          </tr>

          <tr>
            <td>Handicraft LV5</td>
            <td><%- WEAPON_SHARPNESS.h5.red %></td>
            <td><%- WEAPON_SHARPNESS.h5.orange %></td>
            <td><%- WEAPON_SHARPNESS.h5.yellow %></td>
            <td><%- WEAPON_SHARPNESS.h5.green %></td>
            <td><%- WEAPON_SHARPNESS.h5.blue %></td>
            <td><%- WEAPON_SHARPNESS.h5.white %></td>
            <td><%- WEAPON_SHARPNESS.h5.purple %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="page-container__center">
    <div class="table-responsive">
      <div class="table-header"> <%- WEAPON_NAME %> Elements <span class="color-dark__muted text-style__small"></span>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Type</th>
            <th>Damage</th>
          </tr>
        </thead>
        <tbody>
          <% for (let k of WEAPON_ELEMENTS) {%>
          <tr>
            <td><%- k.type %></td>
            <td><%- k.damage %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="page-container__center">
    <div class="table-responsive">
      <div class="table-header"> <%- WEAPON_NAME %> Ammos <span class="color-dark__muted text-style__small"></span>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Type</th>
            <th>Level 1</th>
            <th>Level 2</th>
            <th>Level 3</th>
          </tr>
        </thead>
        <tbody>
          <% for (let k of WEAPON_AMMOS) {%>
          <tr>
            <td><%- k.type %></td>
            <td><%- k.lv1 %></td>
            <td><%- k.lv2 %></td>
            <td><%- k.lv3 %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="page-container__center">
    <div class="table-responsive">
      <div class="table-header"> <%- WEAPON_NAME %> Crafting <span class="color-dark__muted text-style__small"></span>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <% for (let k of WEAPON_CRAFTING) {%>
          <% if (!WEAPON_CRAFTING.length > 0) return; %>
          <tr>
            <td><%- k.name %></td>
            <td><%- k.description %></td>
            <td><%- k.quantity %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="page-container__center">
    <div class="table-responsive">
      <div class="table-header"> <%- WEAPON_NAME %> Upgrading <span class="color-dark__muted text-style__small"></span>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <% for (let k of WEAPON_UPGRADE) {%>
          <% if (!WEAPON_UPGRADE.length > 0) return; %>
          <tr>
            <td><%- k.name %></td>
            <td><%- k.description %></td>
            <td><%- k.quantity %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="page-footer">
    <p>Copyright © <a class="link-underline" href="https://ricochhet.github.io/">Ricochet</a>, All Rights Reserved.
      ❤️</p>
  </div>
</body>
<script src="../mint.js"></script>
<script>
  let decorationArray = `<%- decorationArray %>`.split(',');
  let monsterArray = `<%- monsterArray %>`.split(',');
  let weaponArray = `<%- weaponArray %>`.split(',');
  let armorArray = `<%- armorArray %>`.split(',');
  let skillArray = `<%- skillArray %>`.split(',');
  let itemArray = `<%- itemArray %>`.split(',');
  let combinedArray = [
    ...decorationArray,
    ...monsterArray,
    ...weaponArray,
    ...armorArray,
    ...skillArray,
    ...itemArray
  ];

  _toggleTheme();
  _searchCompletion(combinedArray, function (input, finalInput) {
    if (decorationArray.includes(input)) { window.location.href = `/decorations/${finalInput.split('/').join('+')}`; }
    if (monsterArray.includes(input)) { window.location.href = `/monsters/${finalInput}`; }
    if (weaponArray.includes(input)) { window.location.href = `/weapons/${finalInput}`; }
    if (armorArray.includes(input)) { window.location.href = `/armors/${finalInput}`; }
    if (skillArray.includes(input)) { window.location.href = `/skills/${finalInput}`; }
    if (itemArray.includes(input)) { window.location.href = `/items/${finalInput}`; }
  });
</script>

</html>