<!DOCTYPE html>
<html>

<head>
  <title>CatBot Database</title>
  <link rel="stylesheet" type="text/css" href="../css/default.css">
  <link rel="stylesheet" type="text/css" href="../css/index.css">

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="../css/icons/catbot.png" />
  <meta name="theme-color" content="#8fde5d" />
  <meta property="og:url" content="http://mhdb.catbot.xyz/" />
  <meta property="og:title" content="CatBot Database" />
  <meta property="og:image" content="http://mhdb.catbot.xyz/css/icons/catbot.png" />
  <meta property="og:description" content="Monster Hunter World: Iceborne Discord Bot dedicated to helping hunters providing information on monsters, weapons, armors, and more!" />
  <meta name="description" content="Monster Hunter World: Iceborne Discord Bot dedicated to helping hunters providing information on monsters, weapons, armors, and more!">
  <meta name="keywords" content="MHW,MHWI,MHWorld,Discord,Bot,Iceborne,Discord Bot, Monster Hunter, Monster Hunter World, Monster Hunter World Iceborne,CatBot,CatBot Discord, CatBot Discord Bot">
</head>

<body>
  <div class="navigation-bar__light">
    <h5><img src="../css/icons/catbot.png" /> CatBot</h5>
    <nav>
      <a class="link-none" href="http://catbot.xyz">Bot</a>
      <a class="link-none" href="http://mhdb.catbot.xyz">Database</a>
      <a class="link-none"
        href="https://discordapp.com/oauth2/authorize?client_id=573958899582107653&permissions=339008&scope=bot">Invite</a>
      <a class="link-none" href="https://top.gg/bot/573958899582107653/vote">Vote</a>
      <a class="link-none" href="https://discord.gg/srNyk8G">Support</a>
    </nav>
  </div>

  <div class="page-container__center">
    <div class="table-responsive">
      <div class="table-header"> <%= WEAPON_NAME %>
        <span class="color-dark__muted text-style__small"></span>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <td width="15%">Type</td>
            <td><%= WEAPON_TYPE %></td>
          </tr>

          <tr>
            <td width="15%">Attack</td>
            <td><%= WEAPON_ATTACK %></td>
          </tr>

          <tr>
            <td width="15%">Defense</td>
            <td><%= WEAPON_DEFENSE %></td>
          </tr>

          <tr>
            <td width="15%">Sharpness</td>
            <td><%= WEAPON_SHARPNESS %></td>
          </tr>

          <tr>
            <td width="15%">Affinity</td>
            <td><%= WEAPON_AFFINITY %></td>
          </tr>

          <tr>
            <td width="15%">Elemental Attack</td>
            <td><%= WEAPON_ELEMENTALATTACK %></td>
          </tr>

          <tr>
            <td width="15%">Rarity</td>
            <td><%= WEAPON_RARITY %></td>
          </tr>

          <tr>
            <td width="15%">Gem Slots</td>
            <td><%= WEAPON_GEMSLOTS %></td>
          </tr>

          <tr>
            <td width="15%">Wyvernheart</td>
            <td><%= WEAPON_WYVERNHEART %></td>
          </tr>

          <tr>
            <td width="15%">Phials</td>
            <td><%= WEAPON_PHIALS %></td>
          </tr>

          <tr>
            <td width="15%">Notes</td>
            <td><%= WEAPON_NOTES %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="page-footer">
    <p>Copyright © <a class="link-underline" href="https://ricochhet.github.io/">Ricochet</a>, All Rights Reserved.
      ❤️</p>
  </div>
</body>

<script>

</script>

</html>